.contenido {
    width: 69%;
    margin: 71px auto auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    max-width: 1100px;
}
.conte {
    width: 60%;
    margin: 30px auto auto;
    
}
.titulo{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
table > tbody:empty {
    position: relative;
    display: table-caption;
    caption-side: bottom;
    min-height: 50px;
    background-color: rgb(240,240,240);
    text-align: center;
}
table > tbody:empty:before {
    content: 'SIN DATOS';
    position: absolute;
    font-size: 12px;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#input-from {
    max-width: 250px;
}
#table-form {
    max-width: 360px;
    top: 30px;
}

.content-tabla{
  
    width: 80%;
    margin: 0 auto;
    min-width: 1300px;
}
.titulo-tabla{
    text-align: center;
    margin:0.7rem;
    font-size: 3em;
    font-family: math;
}
